* {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.767);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  color: gray;
}
#warrper {
  max-width: 1840px;
  width: 100%;
  margin: 0 auto;
}
.parallaxiImg {
  background-image: url("../images/main2.png");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.startHiden {
  margin-top: 20%;
}
#header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-bottom: 100%;
  background-color: white;
  box-shadow: 5px 5px 8px rgba(44, 41, 41, 0.795);
}

.nav-link {
  color: black;
}
.Theactive {
  color: rgb(196, 174, 127);
  font-weight: bold;
}
#inputSearch {
  color: rgb(196, 174, 127);
  display: inline !important;
  max-width: 60%;
  padding-left: 10px;
}

h1 {
  font-size: 1.6rem;
  color: rgb(247, 185, 105);
}
#logo {
  float: left;
  padding-left: 5px;
  height: 65px;
}
#btnSearch {
  color: rgb(196, 174, 127);
  outline: none !important;

  font-family: sans-serif;
}

.infoBtn {
  float: right;
}
.about {
  padding-left: 25%;
  padding-right: 25%;
  color: black;
  background-color: white;
}
#About {
  margin-top: 5%;
}
.aboutTitle {
  color: burlywood;
}

#aboutText {
  padding-left: 395px;
  padding-right: 162px;
}

#showSelecteCoins {
  font-family: cursive;
  font-size: 0.85rem;
  color: black;
  text-align: center;
}
#showBtn {
  margin-left: 5%;
}
.card {
  background-color: rgba(235, 196, 123, 0.74);
}
.card-title {
  font-family: fantasy;
  text-align: center;
}

#LiveReports {
  margin-top: -10% !important;
  margin-bottom: 15%;
}
